* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links ul li {
  display: inline-block;
  margin: 0 20px;
}
.logo img {
  width: 50px;
  vertical-align: middle;
  /* }
  .links ul li a {
    font-family: SoDoSans_Semibold, Helvetica, sans-serif;
    font-size: 14px;
    color: #212529;
    text-decoration: none;
    color: aliceblue;
    /* padding: 20px; */
}
*/
  
  /* .sec-one {
    background-color: #e8631c;
    position: relative;
  } */
  /* .home-text {
    margin: 80px 0 0 0;
    padding: 100px 0 70px 0;
  }
  .home-text h1 {
    font-size: 80px;
    color: aliceblue;
    margin: 0 0 15px 0;
    padding: 100px 0 0 0;
  }
  .home-text p {
    font-size: 28px;
    color: aliceblue;
    margin: 0 0 20px 0;
  }
  .home-text button {
    font-size: 18px;
    color: aliceblue;
    background-color: #e8631c;
    padding: 10px 55px;
    border: none;
  } */
  /* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"); */
  
  :root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  box-shadow: #1c1c1c1c 1px 2px 5px;
  border-bottom: var(--bs-border-width) var(--bs-border-style)
    var(--bs-border-color) !important;
}
.nav-item a {
  font-weight: 100;
  font-size: 1.2rem;
  margin: 0 15px;
}
nav img {
  height: 50px;
}

nav .opened-nav-link {
  border-bottom: 3px solid #006241;
  color: black;
  font-weight: 500;
}

nav ul a:hover {
  border-bottom: 3px solid #006241;
  color: black;
  transition: 0.1s;
}
nav .form-control {
  width: 250px;
  font-size: 15px;
}
/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
nav .btn:hover {
  background-color: #006241;
  color: white;
}

/* SECTION 1 */

.sec-one {
  background-color: white;
  padding: 25px 0 0 0;
  margin: 60px 0 0 0;
}
.sec-one a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 0 5px;
}
.sec-one li {
  font-size: 15px;
  display: inline-block;
}
.path {
  padding: 15px 0 0 0;
}

/* SECTION 2 */

.sec-two {
  padding: 1.5em 0 1em;
  background-color: #1e3932;
}
::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 15px;
}

:-ms-input-placeholder {
  color: #fff;
}

form {
  /* margin: 50px;
    padding: 5px; */
  background: transparent;
  display: inline-block;
}

form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #00754a;
  outline: none;
  width: 250px;
}

form button {
  background: transparent;
  border: 0;
  color: #fff;
}
form {
  display: inline-block;
}
form img {
  height: 15px;
}
.location {
  padding: 25px 0;
}

/* SECTION 3 */

.sec-three {
  background-color: #f2f0fb;
}
.sec-three .col-12 {
  padding: 15px 0;
}
.sec-three a {
  text-decoration: none;
  color: #00000094;
  font-size: 18px;
}
.sec-three a:hover {
  border-bottom: 3px solid #006241;
  padding: 0 0 5px 0;
  transition: 0.1s;
}
.opened-link {
  border-bottom: 3px solid #006241;
  padding: 0 0 5px 0;
  /* border-collapse: collapse; */
}
.sec-three div.border-right:hover {
  color: #279b5b;
  /* padding: 20px 0; */
  /* text-decoration: underline; */
  /* border-bottom: 3px solid #006241; */
  transition: 0.1s;
}

/* SECTION 4 */

.sec-four .bestseller-text {
  padding: 70px 0 30px 0;
}
.sec-four .card {
  background-color: #f9f9f9;
  height: 275px;
  border-radius: 8px;
  font-size: 15px;
  margin: 0 0 50px 0;
}

.sec-four h5 {
  font-size: 1.1rem;
}

.sec-four .card:hover {
  box-shadow: 0 0 10px #00000012, 0 10px 10px #0000000f, 0 10px 10px #0000001a;
  transition: 0.5s;
  transform: scale(1.01);
  border: none;
}

.sec-four .card .col-4 img {
  width: 120px;
  margin: 10px;
}

.sec-four .veg img {
  height: 20px;
  /* text-align: left; */
}

.sec-four .diet-desc {
  font-size: 12px;
  color: #a7a7aa;
}

.sec-four .bestseller {
  font-weight: 700;
  color: #cca55e;
  font-size: 15px;
}

.bestseller img {
  position: relative;
  top: -2px;
  height: 15px;
}

.card-text {
  font-size: 15px;
}

.sec-four .custom-btn {
  background-color: #c7c7c7;
  border: none;
  padding: 5px 10px;
  box-shadow: 0 4px 15px #a3a3a3ad;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.sec-four .btn:hover {
  background-color: #00754a;
  color: white;
}
.card .item .row {
  padding: 10px 0 10px 0;
}
